{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'credits/style/style.css' %}">
    <title>Social Credits</title>
  </head>
  <body>

    <header class="header">
      <div class="container__head">
        <div class="header__inner">

          <img src="{% static 'credits/images/icons/logo2.png' %}" alt="logo" class="logo">

          <nav class="nav_head">
            <a class="nav_link" href="#">Туториал</a>
            <a class="nav_link" href="#">Скоро</a>
            <a class="nav_link" href="#">Скоро</a>
          </nav>

          <a class="logout" href="#">Logout</a>

        </div>
      </div>
    </header>

    <div class="game">
      <div class="container__main">
        <div class="container__inner">
          <div class="blocks">

            <div class="block box-1">
              <div class="money">
                <div class="money-name">
                  <img class="money-china-man" src="{% static 'credits/images/china_poklon.gif' %}" alt="">
                  Юани
                </div>
                <div class="money-count">100.000</div>
                <img class="money-icon" src="{% static 'credits/images/icons/money.png' %}" alt="">

              </div>
            </div>

            <div class="between-box"></div>

            <div class="block box-2">
              <div class="social_credits">

                <div class="social-text">Social Credits</div>
                <div class="social-credits-items">

                  <div class="social-image social-credits-items">
                    <img class="president" src="{% static 'credits/images/president.png' %}" alt="">
                  </div>
                  <div class="credit-count social-credits-items">
                    1000
                  </div>

                </div>

              </div>
            </div>

            <div class="between-box"></div>

            <div class="block box-3">
              <div class="products_items">
                <div class="product_item">
                  <div class="box-item">
                    <div class="product_icon miska_ris"></div>
                    <div class="product_name">Миска Рис</div>
                    <div class="price">5000</div>
                    <div class="product_count">10</div>
                  </div>
                </div>
                <div class="product_item">
                  <div class="box-item">
                    <div class="product_icon miska_ris"></div>
                    <div class="product_name">Миска Рис</div>
                    <div class="price">5000</div>
                    <div class="product_count">10</div>
                  </div>
                </div>
                <div class="product_item">
                  <div class="box-item">
                    <div class="product_icon miska_ris"></div>
                    <div class="product_name">Миска Рис</div>
                    <div class="price">5000</div>
                    <div class="product_count">10</div>
                  </div>
                </div>
                <div class="product_item">
                  <div class="box-item">
                    <div class="product_icon miska_ris"></div>
                    <div class="product_name">Миска Рис</div>
                    <div class="price">5000</div>
                    <div class="product_count">10</div>
                  </div>
                </div>
                <div class="product_item">
                  <div class="box-item">
                    <div class="product_icon miska_ris"></div>
                    <div class="product_name">Миска Рис</div>
                    <div class="price">5000</div>
                    <div class="product_count">10</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </body>
</html>
