{% extends "credits/layout.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'credits/css/volume.css' %}">
    <link rel="stylesheet" href="{% static 'credits/css/registr.css' %}">
    <script src="https://kit.fontawesome.com/a3b9986461.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="login-wrap">
    	<div class="login-html">

        <div class="volume">
          <div id="audioplayer" class="group-audio">
            <audio id="audiotrack" preload="auto" autoplay loop>
              <source src="{% static 'credits/audio/TheRedSun.mp3' %}" type="audio/mpeg">
            </audio>
            <script type="text/javascript" src="{% static 'credits/js/volume.js' %}"></script>
          </div>
        </div>

    		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Вход</label>
    		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Регистрация</label>
    		<div class="login-form">
    			<div class="sign-in-htm">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="group">
                            <label for="user" class="label">Логин</label>
                            <div id="user" class="input">
                                {{user_form.username}}
                            </div>
    				    </div>
                        <div class="group">
                            <label for="pass" class="label">Пароль</label>
                            <div id="pass" class="input" data-type="password">
                                {{user_form.password}}
                            </div>
                        </div>
                        <div class="group">
                            <button type="submit" class="button">Войти</button>
                        </div>
                    </form>
    				<div class="hr"></div>
            <div class="icons-text">
              <div class="text-icon">
                Большой брат следит за тобой!
              </div>
              <div class="icons">
                <img src="{% static 'credits/images/icons/icon-bear.png' %}" alt="">
                <img src="{% static 'credits/images/icons/aliexpress.png' %}" alt="">
                <img src="{% static 'credits/images/icons/icon-flag.png' %}" alt="">
                <img src="{% static 'credits/images/icons/xiaomi.png' %}" alt="">
                <img src="{% static 'credits/images/icons/icon-inian.png' %}" alt="">
              </div>
            </div>
    			</div>
    			<div class="sign-up-htm">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="group">
                            <label for="user" class="label">Логин</label>
                            <div id="user" class="input">
                                {{user_form.username}}
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Пароль</label>
                            <div id="pass" class="input" data-type="password">
                                {{user_form.password}}
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Повторите пароль</label>
                            <div id="pass" class="input" data-type="password">
                                {{user_form.password_confirm}}
                            </div>
                        </div>
                        <div class="group">
                            <button type="submit" class="button">Зарегистрироваться</button>
                        </div>
                    </form>
                    <div class="foot-lnk">
    					<label for="tab-1">Уже есть аккаунт?</label>
    				</div>
    				<div class="hr hr-1"></div>
            <div class="icons-text">
              <div class="text-icon">
                Большой брат следит за тобой!
              </div>
              <div class="icons">
                <img src="{% static 'credits/images/icons/icon-bear.png' %}" alt="">
                <img src="{% static 'credits/images/icons/aliexpress.png' %}" alt="">
                <img src="{% static 'credits/images/icons/icon-flag.png' %}" alt="">
                <img src="{% static 'credits/images/icons/xiaomi.png' %}" alt="">
                <img src="{% static 'credits/images/icons/icon-inian.png' %}" alt="">
              </div>
            </div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}

<!--
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1>Welcome  to Test {{user}}</h1>
    {% if invalid %}
        Такого пользователя нету
    {% endif %}

    <form action="{% url 'test_login_register' %}" method="POST">
        {% csrf_token %}
        {{user_form.username}} <br><br>
        {{user_form.password}} <br><br>
        <button type="submit">Войти</button>
    </form>

    <form action="{% url 'test_login_register' %}" method="POST">
        {% csrf_token %}
        {{user_form.username}} <br><br>
        {{user_form.password}} <br><br>
        {{user_form.password_confirm}} <br><br>
        <button type="submit">Регистрация</button>
    </form>
</body>
</html>
-->